/* CardStyles.css */

.card {
  margin: 4rem auto; /* Center the card container */
  max-width: 1200px; /* Set a maximum width for the card container */
  padding: 0 20px; /* Add padding to the sides */
}

.recipecard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.t-card {
  width: 100%;
  text-align: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.t-card:hover {
  transform: scale(1.03);
}

.t-image {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.t-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.t-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.t-card-content {
  position: relative;
  z-index: 2;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.t-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #2a2a2a;
}

.t-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.t-card a {
  background-color: #007BFF;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.t-card a:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 850px) {
  .card {
    margin: 4rem 2rem;
  }
}

/* Add these styles to your existing CSS file */

/* Add these styles to your existing CSS file */

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.tm-select {
  width: 150px;
  padding: 10px;
}

.search-btn {
  background-color: #febd69;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.search-btn:hover {
  background-color: #f8a93f;
}

